body{
    font-family: tahoma, arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal{
    width: 70vw;
    margin: 20px auto;
    position: relative;
}

.icon-menu{
    display: none;
}

.header-topo{
    height: 50px;
    background-color: #162028;
    position: relative;
}

.logotipo{
    margin: 5px 0px 0px 200px; 
}

.header-topo nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header-topo nav a{
    color: #425564;
    text-transform: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color 0.3s linear;
}

.header-topo nav a:hover{
    color: white;
}

.header-topo nav ul{
    margin: 0;
    
}

.header-topo nav li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    padding: 13px;
}

.img-principal{
    width: 100%;
}

.portifolio{
    padding: 50px 100px;
    text-align: center;
}

.portifolio h1{
    font-size: 36px;
    color: #252525;
}

.portifolio p{
    font-size: 16px;
    line-height: 2;
    color: #555;
}

.gallery{
    color: #555;
    width: 100%;
    position: relative;
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto;
}

.slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: none;
}

.slide span{
    font-size: 45px;
    color: black;
    line-height: 41px;
}

.right{
    right: 0;
} 

.gallery-card{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 5px;
}

.gallery-card img{
    height: 210px;
}

.gallery-tittle{
text-transform: uppercase;
letter-spacing: 4px;
font-size: 18;
font-weight: bold;
}

.about{
    background-color: #003d52;
    padding: 100px;
    color: white ;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-top: 40px;
}

.about h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

.about p{
    line-height: 1.5;
    width: 70%;
}

#contact{
    margin: 50px 0;
}

#contact address{
    color: #143f52;
    text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

.maps{
    width: 100%;
    height: 650px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape{
    background: #0b171f;
    padding: 25px;
    font-size: 12px;
    color: #6f8597;
    letter-spacing: 5px;
    text-align: center;
}


@media screen and (max-width: 1100px) {
    .logotipo{
        margin: 5px 20px;
    }

    .gallery{
        color: #555;
        height: 300px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .cards{
        height: 100%;
        width: 100%; 
        display: block;
    }
    
    .slide{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 45px;
        border: 2px solid white;
        background: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        display: block;
    }
    
    .slide span{
        font-size: 45px;
        color: black;
        line-height: 41px;
    }
    
    .right{
        right: 0;
    }    

}

@media screen and (max-width: 780px ) {

    body{
        overflow-x: hidden;
    }
    
    .principal{
        margin-top: 20px;
        width: 100vw;
        min-width: 375px;
    }

    .header-topo {
        background-color: #162028;
        position: absolute;
        top: 0;
        left: -60%;
        height: 100vh;
        width: 40%;
        opacity: 0.8;
        transition: .2s;
    }

    .active{
        left: 0;
    }

    .icon-menu{
        color: white;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-top: 10px;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        display: block;
    }

    .logotipo{
        display: none;
    }
    
    .header-topo nav {
        position: relative;
    }

    .header-topo nav ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }
}

@media screen and (max-width: 470px) {
    
    .header-topo{
        width: 60%;
    }
}